
body{
    background-color: #1A1B25;
}

.wrapper{
    display: flex;
    width:100vw;
    height:100vh;
    color:#F0F2A6;
    font-family: "Karma", serif;
  font-weight: 300;
  font-style: normal;
    
}
.introHalf{
    width:50vw;
    height:100vh;
    margin-left: 10%;
    font-size: 210%;
    position: sticky;
    top: 0px;
}

.otherHalf{
    width:50vw;
    height:100vh;
    /* float:right; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.header{
    width:inherit;
    height:15%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    /* gap:50px; */
    align-content:flex-end;
    position:fixed;
    top:0px;
    background-image: url(assets/header\ back.png);
    background-size: cover;
   
}
.header button{
     font-size: 110%;
     font-family: "Karma", serif;
     font-weight: 300;
     font-style: normal;
}

.header span{
    font-size: 303%;
    color: #F5F5F5;
    font-weight: 500;
    font-family: "Karma", serif;
    font-weight: 300;
    font-style: normal;
}
.content{
    width:inherit;
    height:95%;
    overflow-y: scroll;
    
}

.content p{
    margin-top: 0px;
    display:inline;
}
#titles{
    display:block;
    margin-top: 3%;
    font-size: 225%;
    height:1em;
    font-family: "Karma", serif;
    font-weight: 300;
    font-style: normal;
    
}
#game{
    height:50%;
    background: transparent;
    border: none;
    color:#F5F5F5;
    margin-right: 20px;
}

#web{
     height:50%;
    background: transparent;
    border: none;  
    color:#F5F5F5;
    margin-left: 20px;
}

.projects{
    display:none;
    height:inherit;
    flex-direction: column;
    align-items: center;
    gap: 130px;
    padding-top: 15%;
}
.item{
    display:flex;
    width: 50%;
    height: 26%;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.item img{

    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 5%;

}
.item p{
    margin-top: 20px;
}
.item img:hover{
    filter:drop-shadow(0 0 0.75rem #F5F5F5);
}

.item a{
    width: 40%;
    height: 100%;
}